<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studysmarter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".screens.CalendarScreen"></activity>
        <activity
            android:name=".screens.DeleteDecks"
            android:label="@string/title_activity_delete_decks"
            android:theme="@style/NoActionBar" />
        <activity android:name=".screens.StudyReview" />
        <activity
            android:name=".screens.StudyStagingArea"
            android:label="@string/title_activity_study_staging_area"
            android:theme="@style/NoActionBar" />
        <activity android:name=".screens.StudyView" />
        <activity android:name=".screens.DeckCreator" />
        <activity android:name=".screens.CardAdder" />
        <activity
            android:name=".screens.DeckDesigner"
            android:label="@string/title_activity_deck_creator"
            android:theme="@style/NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>